.lh
/dist
.DS_Store
node_modules
unpackage
/public/config.js


# local env files
.env.local
.env.*.local
.env.testing
.env.production
.env.development

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml

# Editor directories and files
.idea
.vscode
*.suo
*.sln
*.sw?
*.ntvs*
*.njsproj
.hbuilderx
*.bak