.fixed-header {
	width: 100%;
	height: 40px;
	background: #f7f8f9;
	display: flex;
	justify-content: center;
	align-items: center;
}

/deep/ uni-radio .uni-radio-input {
	background-color: #fff !important;
}

/deep/ uni-radio .uni-radio-input.uni-radio-input-checked:before {
	content: '';
	width: 24rpx;
	height: 24rpx;
	background: #0094e5;
	border-radius: 50%;
}

scroll-view {
	position: relative;
	box-sizing: border-box;
	padding-bottom: calc(constant(safe-area-inset-bottom) + 10rpx);
	padding-bottom: calc(env(safe-area-inset-bottom) + 10rpx);
}

.question-content {
	height: 100%;
	background: #fff;
	
	.question-title {
		display: flex;
		padding: 20rpx 30rpx;
		line-height: 44rpx;
		font-weight: 600;
		color: #0c2e41;
		.question-type {
			height: 36rpx;
			padding: 0 10rpx;
			background: linear-gradient(270deg, rgba(#0094e5, 0.4) 0%, #0094e5 100%);
			border-radius: 6rpx 30rpx 30rpx 6rpx;
			font-size: 20rpx;
			font-weight: 400;
			line-height: 36rpx;
			color: #FFFFFF;
			text-align: center;
			margin-right: 10rpx;
			margin-top: 4rpx;
		}
	}
		
	.question-option {
		padding: 20rpx 40rpx 80rpx;

		.option-item {
			display: flex;
			align-items: center;
			margin-bottom: 20rpx;
			.option-index {
				width: 52rpx;
				height: 52rpx;
				background: #FFFFFF;
				box-shadow: 0rpx 0rpx 6rpx rgba(0, 0, 0, 0.18);
				border-radius: 50%;
				font-size: 28rpx;
				line-height: 52rpx;
				text-align: center;
				margin-right: 30rpx;
			}
			
			.option-text {
				display: flex;
				justify-items: center;
				line-height: 60rpx;
				padding-left: 10rpx;
				color: #557587;
			}
			
		}
	}
	
	.question-textarea {
		margin: 40rpx 20rpx 100rpx;
		.answer-textarea {
			min-height: 140rpx;
			border: 2rpx solid #dadbde;
			border-radius: 8rpx;
			padding: 18rpx;
		}
	}
	
}

.popup-box {
	height: auto;
	max-height: 300rpx;
	padding-bottom: calc(constant(safe-area-inset-bottom) + 100rpx);
	padding-bottom: calc(env(safe-area-inset-bottom) + 100rpx);
	display: flex;
	flex-direction: column;
	.popup-header {
		width: 100%;
		height: 100rpx;
		line-height: 100rpx;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0 40rpx;
		box-sizing: border-box;
	}
	.popup-body {
		flex: 1;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0 40rpx;
		overflow-y: auto;
		.router-item {
			width: 60rpx;
			height: 60rpx;
			color: #666;
			line-height: 60rpx;
			text-align: center;
			box-sizing: border-box;
			border: 2rpx solid #888;
			margin: 0 26rpx 20rpx 0;
			border-radius: 6rpx;
			font-size: 26rpx;
			&:nth-of-type(8n) {
				margin-right: 0;
			}
			&:hover {
				border: 1px solid #0094e5;
				color: #0094e5;
			}
		}
		.router-active {
			border: 1px solid #0094e5;
			color: #0094e5;
		}
	}
}

.footer {
	width: 750rpx;
	height: calc(constant(safe-area-inset-bottom) + 100rpx);
	height: calc(env(safe-area-inset-bottom) + 100rpx);
	display: flex;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	padding-left: 20rpx;
	padding-right: 20rpx;
	padding-top: 17rpx;
	padding-bottom: calc(constant(safe-area-inset-bottom) + 17rpx);
	padding-bottom: calc(env(safe-area-inset-bottom) + 17rpx);
	background: rgba(255, 255, 255, 1);
	z-index: 20000;
	.left {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 60%;
		.exam-progress {
			font-size: 28rpx;
			padding: 0 20rpx;
		}
	}
	
	.right {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	
	.btn {
		display: flex;
		align-items: center;
		border: 2rpx solid #ececec;
		padding: 10rpx 16rpx;
		font-size: 24rpx;
	}
	
	.finish-exam {
		background: linear-gradient(45deg, rgba(#0094e5, .4) 30%, #0094e5 100%);
		border-radius: 40rpx;
		padding: 10rpx 60rpx;
		color: #FFFFFF;
	}
	
	.status {
		display: flex;
		margin-left: 20rpx;
		text {
			margin-left: 10rpx;
		}
	}
}

/deep/ uni-checkbox {
	.uni-checkbox-input {
		&.uni-checkbox-input-checked {
			color: #fff !important;
			background-color: #0094e5 !important;
		}
		&.uni-checkbox-input-disabled {
			background-color: #fff;
			&:before {
				color: #fff !important;
			}
		}
	}
}

/deep/ .u-textarea--disabled {
	background-color: #fff;
}

.cloze-input {
	background-color: #fff !important;
}

.input-box {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	height: 36rpx;
	top: 10rpx;
	min-width: 200rpx;
	border-bottom: 1rpx solid #000;
	font-family: Arial, "microsoft yahei";
	font-size: 28rpx;
}

/deep/ .u-input {
	height: 100%;
	width: 100%;
	position: absolute;
	outline: 0;
	border: 0;
	margin: 0;
	padding: 0 !important;
}

/deep/ .u-input__content {
	background-color: #fff;
	box-sizing: border-box;
	display: inline-flex;
	align-items: end;
	justify-content: center;
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	height: 100%;
	border: 0;
	width: 100%;
	padding: 0 12rpx;
}

.question-gap-title {
	padding: 11px 16px;
	line-height: 30px;
	font-weight: 600;
	color: #0c2e41;
}

.label {
	display: inline-block;
	font-size: inherit;
	height: inherit;
	line-height: inherit;
	visibility: hidden;
	font-family: inherit;
}

/deep/ .uni-input-wrapper {
	text-align: center;
}
