.myNav {
	margin-bottom: 25px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border-bottom-width: 0px;
}

.myNav a {
	border: 0px !important;
	display: inline-block;
	width: 152px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	color: #333333;
	padding: 15px 0;
	text-align: center;
	cursor: pointer !important;
	text-decoration: none;
}

.myNav a:hover {
	border-bottom: 3px solid #36aafd !important;
	background-color: transparent !important;
}