.exam {
	width: 100%;
	border-radius: 3px;
	background: #fff;
	height: 200px;
	padding: 30px 15px 20px;
	text-align: center;
	margin-bottom: 30px;
	border: 1px solid #ddd;
	color: #8392a5;
}

.exam h3 {
	margin-top: 0px;
	font-size: 18px;
	color: black;
}

.exam:hover {
	box-shadow: -2px 4px 29px #e5e5e5;
	-moz-box-shadow: -2px 4px 29px #e5e5e5;
	-webkit-box-shadow: -2px 4px 29px #e5e5e5;
	-o-box-shadow: -2px 4px 29px #e5e5e5;
	-ms-box-shadow: -2px 4px 29px #e5e5e5;
}

.exam .time {
	color: #8392a5;
}

.exam button {
	border-radius: 3px;
	padding: 0 15px;
	line-height: 30px;
	background-color: #ffffff;
	border: 1px solid #eff2f7;
	font-size: 14px;
	width: 100px;
	height: 30px;
}

.exam button .normal {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-right: 8px;
	background-color: #d5f1d8;
}

.exam button .normal small {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -4px 0 0 -4px;
	background-color: #74d17d;
}

.exam button .warn {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-right: 8px;
	background-color: #fec9c9;
}

.exam button .warn small {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -4px 0 0 -4px;
	background-color: #fd4b4b;
}

.exam button span {
	display: inline-block;
	color: #8392a5;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
}

.exam .handle {
	width: 100%;
	font-size: 0;
	margin-top: 15px;
}

.exam .handle i {
	font-size: 16px;
	line-height: 30px;
}

.exam .handle>a {
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	width: 35px;
	height: 35px;
	color: #8392a5;
	border-radius: 50%;
	border: 1px solid #eff3f7;
	line-height: 30px;
	position: relative;
	cursor: pointer;
}

.exam .handle>a:hover {
	background: #0096e7;
	border-color: transparent;
	color: #fff;
}

.exam .handle>a:hover span {
	display: block;
}

.exam .handle>a span {
	padding: 0 10px;
	background: #0096e7;
	border-radius: 3px;
	position: absolute;
	color: #fff;
	font-size: 12px;
	min-width: 70px;
	text-align: center;
	left: 50%;
	bottom: -42px;
	margin-left: -22px;
	display: none;
}

.exam .handle>a span small {
	color: #0096e7;
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(45deg);
	position: absolute;
	top: -6px;
	left: 24px;
	margin-left: 8px;
	background: #0096e7;
	width: 12px;
	height: 12px;
}

.query {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid #f2f4f5;
	background: #fff;
}