// mask
.v-modal {
  opacity: 1 !important;
  background: rgba(18, 52, 86, 0.5) !important;
  backdrop-filter: blur(13px) !important;
}

// dialog
.el-dialog {
  border-radius: 5px !important;
  box-shadow: 0 0 13px rgba(255, 255, 255, 0.15) !important;
}

.el-menu-item,
.el-submenu__title {
  height: 50px !important;
  line-height: 50px !important;
}

.el-menu.el-menu--horizontal {
  border-bottom: none !important;
}

.el-message {
  top: 60px !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #0094e5 !important;
  color: #fff;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  border: 1px solid #d4dfd9 !important;
  background-color: #fff !important;
  padding: 0 10px !important;
  line-height: 26px;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #0094e5 !important;
  background: #fff !important;
}

.el-radio__inner::after {
  width: 6px !important;
  height: 6px !important;
  background-color: #0094e5 !important;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner {
  background-color: #fff !important;
  &::after {
    background-color: #0094e5 !important;
  }
}
