.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content-left {
  position: fixed;
  top: 50px;
  left: calc(100% / 2 - 590px);
  width: 220px;
  height: calc(100vh - 50px);
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    .user-name {
      text-align: center;
      margin-top: 10px;
    }
  }
  .user-intro {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    border-bottom: 1px solid #ebeef5;
    .intro-item {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      .item-title {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #0094e5;
        color: #fff;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 24px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .item-num {
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
  .user-handler {
    width: 100%;
    padding: 10px;
    line-height: 40px;
  }
}

.content-center {
  background: #fff;
  padding: 0 10px;
  width: 960px;
  height: 100%;
  .center-drag {
    width: 100%;
    padding: 10px;
    .drag-item {
      margin-bottom: 10px;
    }
  }
  .chapter {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    .chapter-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item-title {
        font-size: 14px;
        line-height: 30px;
      }
      /deep/.el-button {
        opacity: 0;
        .common {
          font-size: 12px;
          margin-right: 5px;
        }
      }
      &:hover {
        .el-button {
          opacity: 1;
        }
      }
    }
    .chapter-description {
      font-size: 12px;
      color: #999;
      margin-bottom: 10px;
    }
  }
  .paper-title {
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 20px 0 10px;
  }
  .paper-intro {
    font-size: 12px;
    color: #666;
    padding: 0 10px 15px;
    border-bottom: 1px solid #d8d8d8;
  }
  .item-title {
    line-height: 40px;
  }
  .children-content {
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    font-size: 14px;
    box-sizing: border-box;
    &:last-child {
      border-bottom: 1px solid #f3f3f3;
    }
    .question-title {
      display: flex;
      min-height: 50px;
      line-height: 50px;
      padding: 0 10px;
      background: #e5f4fc;
      word-wrap: break-word;
      border-top: 1px solid #e6eff4;
      border-bottom: 1px solid #e6eff4;
      /deep/ .el-input__inner {
        height: 24px;
        border: none;
        border-radius: 0;
        background-color: transparent;
        border-bottom: 1px solid #666;
      }
    }
  }
  .children-option {
    padding: 10px 0 0 25px;
  }
  .option-item,
  .flex-items-center {
    display: flex;
    justify-items: center;
    line-height: 30px;
  }
  /deep/ .el-radio__input,
  /deep/ .el-checkbox__input {
    padding-top: 7px;
  }
  /deep/ .el-textarea__inner {
    border: none;
  }
  .option-item-text {
    border-bottom: 1px solid #d8d8d8;
    padding: 20px 10px 5px;
    color: #333;
    margin: 0 25px 0;
  }
  .children-analysis {
    line-height: 30px;
    padding-left: 20px;
    margin: 15px 0;
    font-size: 13px;
    color: #666;
  }
  .answers-item {
    width: 100%;
    span {
      width: 100%;
      display: inline;
      word-wrap: break-word;
      word-break: normal;
    }
    .answers-tag {
      background: #cdd2f6;
      color: #fff;
      padding: 3px 10px;
      border-radius: 3px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .el-tag {
    margin-right: 6px;
  }
  .children-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .btn {
    padding: 5px 10px;
  }
}

.el-radio,
.el-checkbox {
  margin-right: 10px;
}

.box-card-no-border {
  border: none;
}

.exam-head {
  border-bottom: 1px solid #d8d8d8;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  margin: 0 20px;
  span {
    display: inline-block;
    height: 100%;
    padding: 0px 5px;
    font-size: 16px;
    border-bottom: 2px solid #0094e5;
  }
}

.router-content {
  margin: 0 20px;
  .router-title {
    line-height: 40px;
    font-size: 13px;
  }

  .router-index {
    position: relative;
    width: 28px;
    height: 28px;
    color: #c3c3c3;
    line-height: 28px;
    background: #f4f4f4;
    border: 1px solid #e5e5e5;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }

  .router-submit {
    background: #c2e4ff;
    border: 1px solid #7fc2f6;
    color: #83c3f7;
  }

  .router-active,
  a:hover {
    background: #c2e4ff;
    border: 1px solid #c2e4ff;
    color: #fff;
  }

  .router-sign {
    &::after {
      content: '';
      display: block;
      position: absolute;
      border-bottom: 10px solid #7fc2f6;
      border-left: 10px solid transparent;
      bottom: 0;
      right: 0;
    }
  }
}

.exam-footer {
  position: fixed;
  bottom: 0;
  left: calc(100% / 2 - 590px);
  width: 220px;
  display: flex;
  line-height: 38px;
  .exam-time {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c2e4ff;
    color: #7fc2f6;
    font-size: 13px;
    width: 140px;
    text-align: center;
  }
  .exam-finish {
    flex: 1;
    background: #0094e5;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
}

/deep/ .el-card__body {
  padding: 5px;
}

.el-input /deep/.el-input-group__prepend {
  background-color: #fff;
  border: 0px;
  padding: 0 15px 0;
}

/deep/ .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  margin-bottom: 24px;
}

/deep/ .el-form-item__error {
  line-height: 20px;
}

/deep/ .el-collapse-item__header {
  height: 36px;
  line-height: 36px;
  background-color: #f2f2f2;
  padding-left: 10px;
}

/deep/ .el-collapse-item__content {
  padding: 10px;
  font-size: 14px;
}

/deep/.el-textarea.is-disabled .el-textarea__inner,
/deep/.el-input.is-disabled .el-input__inner {
  background-color: #fff;
  border-color: #0094e5;
  color: #000;
  cursor: default;
}

/deep/.el-checkbox__input.is-disabled.is-checked + span.el-checkbox__label,
/deep/.el-radio__input.is-disabled.is-checked + span.el-radio__label {
  color: #0094e5;
  cursor: default;
}

/deep/.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner,
/deep/.el-radio__input.is-disabled.is-checked .el-radio__inner {
  background-color: #0094e5;
  border-color: #0094e5;
}

/deep/.el-checkbox__input.is-disabled + span.el-checkbox__label,
/deep/.el-radio__input.is-disabled + span.el-radio__label {
  color: #000;
  cursor: default;
}

/deep/.el-checkbox__input.is-disabled .el-checkbox__inner,
/deep/.el-radio__input.is-disabled .el-radio__inner {
  background-color: #fff;
  cursor: default;
}

/deep/.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: #fff;
}
