.content {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content-left {
  position: fixed;
  top: 120px;
  left: calc(100% / 2 - 590px);
  width: 220px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.user-info {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 24px 12px;
  margin-bottom: 8px;
  border-radius: 8px;

  .user-name {
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
  }
}

.user-intro {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 20px 10px;
  margin-bottom: 8px;
  border-radius: 0 0 8px 8px;
  border-bottom: 1px solid #ebeef5;

  .intro-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 24px;
    }

    .item-icon {
      width: 40px;
      height: 40px;

      span {
        width: 24px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .item-num {
      font-size: 14px;
      margin: 8px 0 4px 0;
      color: #606f74;
    }

    .item-title {
      font-size: 12px;
      color: #8b989d;
    }
  }
}

.user-handler {
  width: 100%;
  background: #fff;

  .handler-title {
    padding: 20px 0;
    text-align: center;
    color: #8b989d;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .handler-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    position: relative;
  }

  .percentage-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .percentage-content {
      display: inline-block;
      width: 80px;
      text-align: center;
      background: #fff;
    }
  }
}

.exam-head {
  width: 100%;
  font-size: 16px;
  text-align: center;
  background: #fff;
  color: #537384;
  font-weight: 600;
  padding: 16px 16px 12px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: block;
    flex: 1;
    box-sizing: border-box;
    height: 1px;
    border-color: rgba(#000, 0.1);
    border-style: solid;
    border-width: 1px 0 0;
  }

  &::before {
    margin-right: 12px;
  }

  &::after {
    margin-left: 12px;
  }
}

.el-scrollbar {
  background: #fff;
  flex: 1;
}

.router-content {
  margin: 0 20px;

  .router-title {
    line-height: 40px;
    font-size: 13px;
    color: #0c2e41;
    font-weight: 600;
  }

  .router-index {
    position: relative;
    width: 28px;
    height: 28px;
    color: #0094e5;
    line-height: 28px;
    // background: rgba(#0094e5, 0.1);
    background: #E1F5FB;
    border: none;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }

  .router-submit {
    background: rgba(#0094e5, 0.45);
    color: rgba(#0094e5, 0.75);
  }

  .router-active,
  a:hover {
    background: #0095E3;
    color: #fff;
  }

  .router-sign {
    &::after {
      content: '';
      display: block;
      position: absolute;
      border-bottom: 10px solid #7fc2f6;
      border-left: 10px solid transparent;
      bottom: 0;
      right: 0;
    }
  }
}

.exam-footer {
  width: 220px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
  border-radius: 0 0 8px 8px;

  .exam-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #0094e5;
    background: #fff;
    border: 1px dashed rgba(#0094e5, 0.45);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .exam-finish {
    background: #0094e5;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
}

.content-center {
  background: #fff;
  width: 960px;
  height: auto;
  border-radius: 8px;

  .center-drag {
    width: 100%;

    .drag-item {
      margin-bottom: 10px;
    }
  }

  .paper-title {
    font-size: 22px;
    color: #0c2e41;
    font-weight: 600;
    text-align: center;
    padding: 16px 0;
  }

  .paper-intro {
    font-size: 12px;
    color: #666;
    padding: 0 10px 15px;
    border-bottom: 1px solid #d8d8d8;
  }

  .item-title {
    line-height: 40px;
  }

  .question-content {
    font-size: 14px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin: 0 16px;
    position: relative;

    .question-title {
      width: 650px;
      display: flex;
      line-height: 22px;
      word-wrap: break-word;
      font-weight: 600;
      color: #0c2e41;
    }

    .ask-content {
      border-radius: 4px;
      border-radius: 8px 8px 0 0;

      /deep/ .el-textarea__inner {
        color: #557587;
      }
    }
  }

  .children-option {
    padding: 10px 0 0 25px;
    // /deep/ .is-checked {
    //   font-weight: bold;
    // }
  }

  .option-item {
    display: flex;
    justify-items: center;
    line-height: 30px;
    color: #557587;

    /deep/ .el-radio__input,
    /deep/ .el-checkbox__input {
      padding-top: 8px;
    }
  }

  .flex-items-center {
    display: flex;
    justify-items: center;
    line-height: 30px;

    /deep/ .el-radio__input,
    /deep/ .el-checkbox__input {
      padding-top: 8px;
    }
  }

  .option-item-inline {
    display: inline-flex;
    justify-items: center;
    line-height: 30px;
    color: #557587;

    /deep/ .el-radio__input,
    /deep/ .el-checkbox__input {
      padding-top: 8px;
    }
  }

  /deep/ .el-textarea__inner {
    border: none;
  }

  .option-item-text {
    border-bottom: 1px solid #d8d8d8;
    padding: 20px 10px 5px;
    color: #333;
    margin: 0 25px 0;
  }

  .children-analysis {
    line-height: 30px;
    padding: 16px;
    font-size: 13px;
    color: #666;
  }

  .analysis-tip {
    background: rgba(#0094e5, 0.1);
    padding: 6px 8px;
    font-size: 12px;
    color: #0094e5;
    border-radius: 2px;
  }

  .analysis-content {
    display: flex;
  }

  .cloze-answers {
    display: flex;

    .answers-items {
      border-bottom: 1px solid #404b65;
      padding: 0 20px;
      margin-right: 20px;
    }
  }

  .answers-item {
    width: 100%;

    span {
      width: 100%;
      display: inline;
      word-wrap: break-word;
      word-break: normal;
    }

    .answers-tag {
      color: #0094e5;
      border: 1px solid #0094e5;
      padding: 4px 16px;
      border-radius: 2px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .el-tag {
    margin-right: 6px;
  }

  .children-footer {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 0 16px;
    opacity: 0;
  }

  .btn {
    padding: 5px 10px;
  }
}

.el-radio,
.el-checkbox {
  margin-right: 10px;
}

.box-card-no-border {
  border: none;
}

/deep/ .el-card__body {
  padding: 5px;
}

.el-input /deep/.el-input-group__prepend {
  background-color: #fff;
  border: 0px;
  padding: 0 15px 0;
}

/deep/ .el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  margin-bottom: 24px;
}

/deep/ .el-form-item__error {
  line-height: 20px;
}

/deep/ .el-collapse-item__header {
  height: 36px;
  line-height: 36px;
  background-color: #f2f2f2;
  padding-left: 10px;
}

/deep/ .el-collapse-item__content {
  padding: 10px;
  font-size: 14px;
}

/deep/ .el-textarea__inner {
  height: 140px;
}

/deep/.el-textarea.is-disabled .el-textarea__inner {
  background-color: #fff;
  border-color: #0094e5;
  color: #000;
  cursor: default;
}

/deep/.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner,
/deep/.el-radio__input.is-disabled.is-checked .el-radio__inner {
  background-color: #0094e5;
  border-color: #0094e5;
}

/deep/.el-checkbox__input.is-disabled .el-checkbox__inner,
/deep/.el-radio__input.is-disabled .el-radio__inner {
  background-color: #fff;
  cursor: default;
}

/deep/.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: #fff;
}