@font-face {
  font-family: 'common';
  src: url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype');
}

.common {
  font-family: "common" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.common-exam:before {
  content: "\e724";
}

.common-examing:before {
  content: "\e63c";
}

.common-preview:before {
  content: "\e627";
}

.common-mark:before {
  content: "\e65f";
}

.common-marking:before {
  content: "\e661";
}

.common-wait:before {
  content: "\e61e";
}

.common-finish:before {
  content: "\e655";
}

.common-index:before {
  content: "\e63d";
}

.common-mine:before {
  content: "\e61f";
}

.common-notice:before {
  content: "\e62f";
}

.common-paper-manage:before {
  content: "\e6e7";
}

.common-classify:before {
  content: "\e62d";
}

.common-good:before {
  content: "\e624";
}

.common-persons:before {
  content: "\e621";
}

.common-perfect:before {
  content: "\e6a8";
}

.common-user-manage:before {
  content: "\e623";
}

.common-base-manage:before {
  content: "\e639";
}

.common-exam-manage:before {
  content: "\e71d";
}

.common-question-manage:before {
  content: "\e626";
}

.common-onLine:before {
  content: "\e677";
}

.common-data-library:before {
  content: "\e638";
}

.common-time:before {
  content: "\e628";
}

.common-setting:before {
  content: "\e629";
}

.common-recycle:before {
  content: "\e66c";
}

.common-copy:before {
  content: "\e66b";
}

.common-sensitive:before {
  content: "\e62c";
}

.common-pwd-reset:before {
  content: "\e634";
}

.common-end:before {
  content: "\e631";
}

.common-start:before {
  content: "\e64b";
}

.common-off-line:before {
  content: "\e6ca";
}

.common-once:before {
  content: "\e63e";
}

.common-template-down:before {
  content: "\e640";
}

.common-template-up:before {
  content: "\e641";
}

.common-subscript:before {
  content: "\e81d";
}

.common-change:before {
  content: "\e645";
}

.common-mark-paper:before {
  content: "\e6b0";
}

.common-simulate:before {
  content: "\e64d";
}

.common-image:before {
  content: "\e658";
}

.common-click:before {
  content: "\e708";
}

.common-line-upload:before {
  content: "\ebb3";
}

.common-line-dowmload:before {
  content: "\ebb4";
}

.common-word-template:before {
  content: "\e75d";
}

.common-email:before {
  content: "\e7b1";
}

.common-add:before {
  content: "\e7e6";
}

.common-count-down:before {
  content: "\e63a";
}

.common-wait-exam:before {
  content: "\e64a";
}

.common-wait-mark:before {
  content: "\e69c";
}

.common-fullscreen:before {
  content: "\e7ec";
}

.common-fullscreen-exit:before {
  content: "\e7ed";
}

.common-ranking:before {
  content: "\e611";
}

.common-anonymous:before {
  content: "\e6bc";
}

.common-score:before {
  content: "\e7ca";
}

.common-test:before {
  content: "\e657";
}

.common-score-plate:before {
  content: "\e62b";
}

.common-minimize:before {
  content: "\e659";
}

.common-frozen:before {
  content: "\e65b";
}

.common-reset-order:before {
  content: "\e65c";
}

.common-more-row:before {
  content: "\e684";
}

.common-more-col:before {
  content: "\e6a5";
}

.common-list-row:before {
  content: "\e600";
}

.common-search:before {
  content: "\e651";
}

.common-close:before {
  content: "\e69a";
}

.common-plus:before {
  content: "\e6b9";
}

.common-minus:before {
  content: "\e6ba";
}

.common-delete:before {
  content: "\e636";
}

.common-edit:before {
  content: "\e67c";
}

.common-wo:before {
  content: "\e602";
}

.common-lock:before {
  content: "\e615";
}

.common-content:before {
  content: "\e62e";
}

.common-shaixuan:before {
  content: "\e6b3";
}

.common-composition:before {
  content: "\e886";
}

.common-role:before {
  content: "\e644";
}

.common-explain:before {
  content: "\e64f";
}

.common-person:before {
  content: "\e650";
}

.common-bishitiku:before {
  content: "\ea96";
}

.common-knowledge:before {
  content: "\e617";
}

.common-archive:before {
  content: "\e666";
}

.common-statistics:before {
  content: "\e719";
}

.common-drag:before {
  content: "\e698";
}

.common-clear:before {
  content: "\e61a";
}

.common-fold:before {
  content: "\e680";
}

.common-readPaper:before {
  content: "\e6ec";
}

.common-publish:before {
  content: "\e61d";
}

.common-login-out:before {
  content: "\e653";
}

.common-org:before {
  content: "\e6cf";
}

.common-merge:before {
  content: "\e669";
}

.common-move:before {
  content: "\e667";
}

.common-judge:before {
  content: "\e654";
}

.common-cloze:before {
  content: "\e761";
}

.common-checkbox:before {
  content: "\e738";
}

.common-radio:before {
  content: "\e67b";
}

.common-ask:before {
  content: "\e6d6";
}

.common-arrow-down:before {
  content: "\e692";
}

.common-arrow-left:before {
  content: "\e693";
}

.common-arrow-right:before {
  content: "\e694";
}

.common-arrow-up:before {
  content: "\e695";
}

