<<<<<<< HEAD
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font: 14px/1.5 Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB,
    Microsoft Yahei, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0px !important;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multi-ellipsis {
  @include multi-ellipsis(2);
}

// scrollbar
::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.tox-tinymce-aux {
  z-index: 2200 !important;
}
=======
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font: 14px/1.5 Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB,
    Microsoft Yahei, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

p {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0px !important;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multi-ellipsis {
  @include multi-ellipsis(2);
}

// scrollbar
::-webkit-scrollbar {
  display: none;
}

// ckeditor inline z-index
:root {
  --ck-z-default: 100 !important;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 20px auto;
}
>>>>>>> e3bd7930b9db5695f15e088b3c2b8b49ba50b36a
