@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';

@font-face {
  font-family: 'PingFang SC';
  src: url('../font/PingFangSC.ttf'); //你的资源目录
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font: 14px/1.5 PingFang SC, Open Sans, -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, miui, Hiragino Sans GB,
    Microsoft Yahei, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0px !important;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multi-ellipsis {
  @include multi-ellipsis(2);
}

// scrollbar
::-webkit-scrollbar {
  display: none;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 16px;
}

.tox-tinymce-aux {
  z-index: 2200 !important;
}
