.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.exam-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.exam-item {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
}

.exam-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 30px 15px 20px;
  background: #fff;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 16px -10px rgba(95, 101, 105, 0.15);
    z-index: 100;
  }
  .tag-group {
    position: absolute;
    right: 20px;
    top: 8px;
  }
  .title {
    font-size: 16px;
    margin: 0 0 10px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .content-info {
    font-size: 13px;
    color: #9199a1;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    .info-state {
      color: #ff9900;
    }
  }
  .count-down {
    font-size: 13px;
    margin-top: 10px;
    color: #e50013;
  }
  .handler {
    span {
      display: inline-block;
      margin-right: 10px;
      text-align: center;
      width: 35px;
      height: 35px;
      color: #8392a5;
      border-radius: 50%;
      border: 1px solid #eff3f7;
      margin-top: 25px;
      line-height: 35px;
      transition: all 0.3s ease-in-out;
      position: relative;

      .handler-more {
        background: #4a5766;
        width: 120px;
        color: #fff;
        border-radius: 3px;
        font-size: 12px;
        position: absolute;
        left: 390px;
        top: 85%;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        .more-item {
          padding: 12px 0;
          border-bottom: 1px solid #65707d;
          line-height: 1.45;
          .common {
            font-size: 14px;
            margin-right: 10px;
          }
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background: #0095e5;
            color: #fff;
          }
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          z-index: 100;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          border-width: 5px 10px 5px 0;
          border-style: solid;
          border-color: transparent #4a5766 transparent transparent;
        }
      }
      &:last-child {
        position: initial;
        &::after,
        &::before {
          display: none;
        }
        &:hover {
          .handler-more {
            left: 380px;
            opacity: 1;
          }
        }
      }
      &::after {
        content: attr(data-title);
        display: block;
        position: absolute;
        z-index: 100;
        bottom: -45px;
        transform: translateX(-50%);
        left: 50%;
        width: 70px;
        height: 30px;
        line-height: 30px;
        background: #0095e5;
        color: #fff;
        border-radius: 3px;
        font-size: 13px;
        opacity: 0;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 5px 10px 5px;
        border-style: solid;
        border-color: transparent transparent #0095e5;
        opacity: 0;
      }
      &:hover {
        border: 1px solid #0095e5;
        background: #0095e5;
        color: #fff;
        &::after {
          opacity: 1;
        }
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.exam-add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #9199a1;
  .common-plus {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #9199a1;
    font-size: 45px;
    color: #9199a1;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    color: #0095e5;
    .common-plus {
      border: 1px solid #0095e5;
      background: #0095e5;
      color: #fff;
    }
  }
}

.query-input {
  /deep/.el-input__inner {
    border: none;
  }
}

/deep/ .el-tag {
  border-radius: 50px;
  padding: 0 8px;
}
