<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="6 seconds">
	<property name="LOG_PATH" value="log" />
	<property name="APP_NAME" value="xmky-exam" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		    <pattern>%d{HH:mm:ss.SSS} | %msg | %thread | %logger{0}.%method:%line%n</pattern>
		    <charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${APP_NAME}.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} | %msg | %logger{0}.%method:%line | %thread%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>7</maxHistory>
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

	<logger name="p6spy" level="ERROR" additivity="false" />
</configuration>