.ztree li span.button.icon-post_ico_docu {
	margin-right: 2px;
	background: url(/script/ztree/css/metroStyle/imgEx/post.png ) no-repeat scroll
		0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.icon-org_ico_docu {
	margin-right: 2px;
	background: url(/script/ztree/css/metroStyle/imgEx/org.png ) no-repeat scroll
		0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}