@font-face {
  font-family: "iconfont"; /* Project id 4963280 */
  src: url('iconfont.woff2?t=1753861084825') format('woff2'),
       url('iconfont.woff?t=1753861084825') format('woff'),
       url('iconfont.ttf?t=1753861084825') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: "\e63b";
}

.icon-zhaopian:before {
  content: "\e63c";
}

.icon-lianxi-61:before {
  content: "\e638";
}

.icon-lianxi-66:before {
  content: "\e633";
}

.icon-lianxi-64:before {
  content: "\e634";
}

.icon-icon-pen:before {
  content: "\e617";
}

.icon-icon-people:before {
  content: "\e618";
}

.icon-icon-pencil:before {
  content: "\e619";
}

.icon-icon-home:before {
  content: "\e61a";
}

.icon-icon-top-05:before {
  content: "\e61c";
}

.icon-icon-exam3:before {
  content: "\e61f";
}

.icon-icon-top_01:before {
  content: "\e620";
}

.icon-icon-close:before {
  content: "\e624";
}

.icon-igw-l-sign:before {
  content: "\e626";
}

.icon-wodekaoshi:before {
  content: "\e625";
}

.icon-biaoji2:before {
  content: "\e627";
}

.icon-zhuyi:before {
  content: "\e628";
}

.icon-kaoshiyemiantubiao-01:before {
  content: "\e629";
}

.icon-kaoshiyemiantubiao-04:before {
  content: "\e62a";
}

.icon-kaoshiyemiantubiao-03:before {
  content: "\e62b";
}

.icon-kaoshiyemiantubiao-05:before {
  content: "\e62c";
}

.icon-kaoshiyemiantubiao-02:before {
  content: "\e62d";
}

.icon-kaoshiyemiantubiao-06:before {
  content: "\e62e";
}

.icon-shijian1:before {
  content: "\e61e";
}

.icon-datiqia:before {
  content: "\e643";
}

.icon-guanbi:before {
  content: "\e636";
}

.icon-defen:before {
  content: "\e835";
}

.icon-tongzhi:before {
  content: "\e69b";
}

.icon-gerenzhongxin2-02:before {
  content: "\e630";
}

.icon-gerenzhongxin1:before {
  content: "\e631";
}

.icon-gerenzhongxin2-03:before {
  content: "\e632";
}

