<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
	<!-- 启用注解扫描 -->
	<context:component-scan base-package="com.wcpdoc.exam.**.service.impl,com.wcpdoc.exam.**.dao.impl">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 集成hibernate -->
	<import resource="beans-config/spring-hibernate.xml"/>
	<!-- 集成json -->
	<import resource="beans-config/spring-json.xml"/>
	<!-- 集成附件上传 -->
	<import resource="beans-config/spring-upload.xml"/>
	<!-- 集成定时任务 -->
	<import resource="beans-config/spring-quartz.xml"/>
	<!-- 集成ehcache -->
	<import resource="beans-config/spring-cache.xml"/>
</beans>